* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100vw;
    height: 100vh;
}

header {
    margin-top: 47px;
    margin-left: 42px;
    cursor: pointer;
}

.link-header {
    color: #17233D;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: normal;
    letter-spacing: 0.875px;
    margin-right: 32px;
}

.link-header:hover {
    opacity: 0.8;
}

button {
    width: 124px;
    height: 51px;
    border: 1px solid #4CB538;
    border-radius: 6px;
    background: #6FBF44;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.5;
}

.logo-image {
    margin-left: 121px;
    margin-top: 163px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 84px;
    width: 493px;
}

h1 {
    color: #161A49;
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0.596px;
}

p {
    color: #4B505A;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    margin-top: 47px;
    margin-bottom: 55px;    
}

.learn-more {
    color: #6FBF44;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 55px;
    text-shadow: 8px 8px 4px #6FBF44;
}

.learn-more:hover {
    opacity: 0.8;
}

.learn-more:active {
    opacity: 0.5;
}

footer {
    text-align: right;
    margin-right: 100px;
    margin-top: 10px;
}

.p-footer {
    font-size: 13px;
    color: gray;
}

@media screen and (max-width: 900px) {
    .link-header {
        display: none;
    }

    button {
        margin: 0 auto;
        display: block;
    }

    img {
        position: static;
        max-width: 75%;
        display: block;
    }

    section {
        display: block;
        height: auto;
        width: 100%;
        position: static;
        padding: 40px;
    }

    h1 {
        font-size: 36px;
        width: auto;
        text-align: center;
        margin: 30px 50px 0 50px;
    }

    p {
        font-size: 14px;
        margin: 15px 40px;
        width: auto;
        text-align: center;
    }

    .learn-more {
        font-size: 12px;
        text-align: center;
        width: auto;
        display: block;
    }

    .p-footer {
        font-size: 10px;
        padding: 20px;
    }
    
}